body {
  font-family: Arial, sans-serif;
  background: #7D8D86;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.app {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 350px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}

h1 {
  text-align: center;
}

.input-section {
  display: flex;
  gap: 10px;
}

input {
  flex: 1;
  padding: 8px;
  border-radius: 5px;
}

button {
  margin: 5px;
  padding: 8px 12px;
  background: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button.delete {
  background: red;
  border-radius: 5px;
}

button.update {
  background: blue;
  border-radius: 5px;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

li {
  display: flex;
  justify-content: space-between;
  background: #eee;
  padding: 8px;
  border-radius: 5px;
  margin-bottom: 5px;
}

li.completed span {
  text-decoration: line-through;
  color: gray;
}

li span {
  cursor: pointer;
}